a{
  text-decoration: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.no-padding{
  padding: 0!important;
}
.no-margin{
  margin: 0!important;
}
.with-padding{
  padding: 5px 12px;
}
.body-container{
  margin: 0 auto;
  max-width: 1150px;
  padding: 0 60px;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.pull-tac{
  text-align: center;
}
.pull-tar{
  text-align: right;
}
/* 卡片默认样式修改 */
.el-card__header {
  border-bottom: 0;
  background: #333;
  color: #fff;
}
.el-card__header .icon{
  color: #fff;
}
.el-card__body{
  border: 1px solid #ccc!important;
}
article{
  padding-top: 10px;
  padding-right: 30px;
}
@media print,screen and (max-width: 768px ) {
  .body-container{
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .el-col.pull-tar{
    text-align: center;
  }
  article{
    padding-top: 10px;
    padding-right: 0;
  }
}
